{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="color: #0a0a0a">
        <h3>{{ form_title }}</h3>
        <br>
        <div class="form-row">
            <div class="form-groupe col-md-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <br>
                <button class="btn btn-success" type="submit">Valider</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
